@import '../../assets/styles/variables.scss';

.wrapper {
  padding: $pagePadding;
  min-height: $pageHeight;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wrapper img {
  width: 180px;
}