@import '../../assets/styles/variables.scss';

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 44px;

  @media (max-width: $largeBP) {
    display: none;
  }
}

.navBar a {
  cursor: pointer;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.link {
  color: $mainGreen;
  text-decoration: none;
  transition: .2s;
}

.link:hover {
  text-shadow: -8px 6px 6px $mainYellow;
}

.btn {
  padding: 12px 38px;
  cursor: pointer;
  background-color: $mainYellow;
  border-radius: 25px;
}