@import '../../../assets/styles/variables.scss';

.label {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: $mainYellow;
  display: flex;
  align-items: center;
  cursor: pointer;
}