//break-points 
$largeBP: 1006px;
$mediumBP: 768px;
$smallBP: 568px;

//sizes
$boxWidth: 85%;
$pagePadding: 95px 0 15px 0;
$pageHeight: calc(100vh - 180px);

//colors
$mainYellow: #FFD56B;
$mainGreen: #042825;